.Awards-item{
    overflow: hidden;
}

.Awards-medal{
    transform: translateX(150%) translateY(-20%);
    pointer-events: none;
    transition: all 0.5s;
    opacity: 0.8;
}
.Awards-item:hover > .Awards-medal{
    transform: translateX(150%) translateY(0%);
    opacity: 1;
}
.Awards-gold, .Awards-silver{
    transition: all 0.3s;
}
.Awards-item:hover > .Awards-gold{
    color: rgb(255, 217, 0);
}
.Awards-item:hover > .Awards-silver{
    color: rgb(183, 223, 233);
}
