.logo{
    fill: #88c382;
    transition: all 0.3s;
    border: 3px solid white;
    border-radius: 50%;
}
.logo:hover{
    fill: white;
}
.logo-background{
    fill: white;
    transition: all 0.2s;
}
.logo:hover > .logo-background{
    fill: #88c382;
}
.my-logo{
    width: 75px;
    height: 75px;
}