.Form-body{
    transition: all 0.5s;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
}

.Form-container{
    transition: all 0.5s;
    overflow: hidden;
    transform: translateY(-50%);
   
}
#Form{
    transition: all 0.5s;
}

.Form-button{
    border: 3px solid #88c382;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    transition: all 0.3s;
    cursor: pointer;
    max-width: 150px;
}
.Form-button:hover{
    background: #88c382;
    color: white;
}
.Form-submit{
    border: 3px solid #88c382;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    transition: all 0.3s;
    cursor: pointer;
    max-width: 200px;
}
.Form-submit:hover{
    background: #88c382;
    color: white;
}
