#Skills{
    border-radius: 30px;
    transform: translateY(-150px);
}

.b-l{
    border-left: 1px solid #eeeeee;
}
.b-r{
    border-right: 1px solid #eeeeee;
}

@media (max-width: 900px) {
    #Skills > .row{
        flex-direction: column;
    }
    #Skills > .Skills-i1{
        -ms-flex-order: 1;
    }
    .b-l{
        border-left: none;
        border-top: 1px solid #eeeeee;
    }
    .b-r{
        border-right: none;
        border-bottom: 1px solid #eeeeee;
        
    }
}